<main>
    {{> cubeDetails }}


    <h2>Accessories</h2>
    {{#if cube.accessories}}
    {{#each cube.accessories}}
    {{>cubeAccessory}}
    {{/each}}

    {{else}}
    <h3 class="italic">This cube has no accessories yet...</h3>

    {{/if}}


</main>